@media only screen and (max-width:1200px)
{
    .hero-text-box{
        width: 100%;
        padding: 0 2%;
    }
    .section{
        padding: 0 2%;
    }
}

@media only screen and (max-width:1023px)
{
    .long-copy{
        width: 80%;
        margin-left: 10%;
    }
    body{
        font-size: 18px;
    }
    section{
        padding: 60px 0;
    }
    .steps-box{
        margin-top: 10px;
    }
    .steps-box:last-child{
        margin-top: 10px;
    }
    .works-step{
        margin-bottom: 40px;
    }
    .works-step:last-of-type{
        margin-bottom: 60px;
    }
    .icon-small{
        width: 17px;
        margin-right: 5px;
    }
    .city-feature{
        font-size: 90%;
    }
    .plan-box{
        width: 100%;
      margin-left: 0%;
    }
    .plan-price{
        font-size: 250%;

    }
    .contact-form{
        width: 80%;

    }
}

@media only screen and (max-width:767px)
{
    body{
        font-size: 16px;
    }
    section{
        padding: 30px 0px;
    }
    .section,
    .hero-text-box{
        width: 100%;
        padding: 0 4%;
    }
    .col{
        width: 100%;
        margin: 0 0 4% 0;
    }
    .main-nav{
       position: absolute;
       right: -50px;
       top: -30px;
       background-color: rgba(0, 0, 0, 0.8);
       padding: 15px 50px;
       z-index: 10;
      opacity: 0;
     visibility: hidden;
     transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }
    .main-nav li{
        display: block;
        margin: 40px 0;
        border-bottom: 2px solid #e67e22;
        padding-bottom: 9px;
        width: 100%;
    }
    #menu-icon{
      display: block;
    }
    .works-step div{
        width: 40px;
        height: 40px;
        margin-right: 15px;
        padding: 4px;
        font-size: 120%;
    }
    .works-step p{
        padding-top: 8px;
    }
    .works-step{
        margin-bottom: 20px;
    }
    .works-step:last-of-type{margin-bottom: 20px;}

    
}

@media only screen and (max-width:480px)
{
    body{
        font-size: 12px;
    }
   section{
    padding: 25px 0;

   } 
   .contact-form{
    width: 100%;
   }
   .main-nav{
    right: -80px;
   }
   #menu-icon,
   #close-icon{
    right: -20px;
   }
}